@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6d0ebb;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.square-box {
  @apply h-28 w-28 m-1 bg-violet-950
  text-7xl font-bold hover:bg-purple-500 hover:text-slate-200
  flex items-center justify-center;
}

.board-row {
  @apply grid grid-flow-col gap-1 justify-center;
}

.config-button {
  @apply h-14 w-24 m-1
  bg-gray-800 font-bold text-2xl rounded-xl 
  hover:bg-slate-200 hover:text-gray-700
  active:bg-gray-500 active:text-black;
}

.box-score {
  @apply h-24 w-32 text-2xl text-gray-900
  m-1 rounded-lg
  flex items-center justify-center flex-col;
}

.box-score-container {
  @apply flex items-center justify-center m-1;
}

.box-score-title {
  @apply text-2xl font-bold;
}

.score {
  @apply text-4xl;
}
